### --- MAVEN (Wrapper y Basura) --- ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# NO ignores mvnw ni .mvn/wrapper/maven-wrapper.properties
# Pero SI el .jar del wrapper (se descarga solo)
.mvn/wrapper/maven-wrapper.jar

### --- IDEs (IntelliJ, VS Code, Eclipse) --- ###
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.project
.classpath
.settings/
.factorypath
bin/
obj/

### --- SISTEMA Y LOGS --- ###
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.temp
